services/gateway/dist
services/gateway/node_modules

services/administration/dist
services/administration/node_modules

services/notification/dist
services/notification/node_modules

services/market/dist
services/market/node_modules