@import '~antd/dist/antd.css';

body {
  background-color: #FAFAFA;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.ant-modal-footer {
  display: flex;
}

.ant-modal-footer .ant-btn + .ant-btn:not(.ant-dropdown-trigger){
  margin-left: auto;
}

.App-map{
  width: 100%;
  height: 70vh;
}